* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

picture {
    display: block;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.products {
    padding-top: 50px;
    padding-bottom: 50px;
}

.row-for-title {
    margin-bottom: 16px;
}

.products__title {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.products__list-img {
    margin: 0 auto;
    margin-bottom: 16px;
}

.products__list-title {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #888888;
    text-align: center;
    margin-bottom: 10px;
}

.rating-list {
    display: flex;
    width: 66px;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 10px;
}

.rating-list__item {
    width: 9px;
    height: 9px;
    background-image: url("../images/star.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.products__list-price {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

@media (max-width: 767px) {
    .products__list-item:not(:last-child) {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
    .products__title {
        font-size: 34px;
    }

    .row-for-title {
        margin-bottom: 24px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .products__list-item:not(:nth-last-child(-n + 3)) {
        margin-bottom: 40px;
    }
}

@media (min-width: 1200px) {
    .products__title {
        font-size: 36px;
    }

    .row-for-title {
        margin-bottom: 86px;
    }

    .products__list-img {
        margin-bottom: 30px;
    }

    .products__list-title {
        margin-bottom: 14px;
    }

    .rating-list {
        margin-bottom: 14px;
    }

    .products__list-item:not(:nth-last-child(-n + 4)) {
        margin-bottom: 78px;
    }
}